:root {
    --main-color: rgb(2, 95, 98);
    --nav-link-color: rgb(2, 95, 98);
    --gray-1: #ccc;
    --gray-2: #eee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.4s;
}

body {
    font-family: 'Cairo', sans-serif;
    background-color: #fff;
}

.container {
    width: 1200px;
    margin: 0px auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}