:root {
    --blue-1: #1f2a4a;
    --green-1: #04cfbb;
    --green-2: #00918a;
    --gray-1: #333;
    --gray-2: #ccc;
    --gray-3: #eee;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Cairo', sans-serif;
    transition: 0.3s;
}

html {
    scroll-behavior: smooth;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 900px;
    margin: 0px auto;
}


@media (min-width: 576px) {
    .container {
        width: 500px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .container {
        width: 700px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .container {
        width: 950px;
    }
}

// // X-Large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//     .container {
//         width: 1200px;
//     }
// }

// // XX-Large devices (larger desktops, 1400px and up)
// @media (min-width: 1400px) {
//     .container {
//         width: 1350px;
//     }
// }
/* some components*/


.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        color: var(--green-2);
    }

    p {
        line-height: 1.6;
        color: var(--blue-1);
    }
}