header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;

    .container {
        padding: 20px 10px;
        display: flex;
        justify-content: space-between;

        .menu {

            nav {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                z-index: 9999;

                .main_nav_icon {
                    color: var(--main-color);
                    font-size: 30px;
                    align-self: flex-start;
                    cursor: pointer;

                    &::selection {
                        display: none;
                    }
                }

                ul {
                    display: none;

                    li {
                        a {
                            width: 200px;
                            display: block;
                            padding: 10px 10px;
                            font-weight: 600px;
                            color: var(--nav-link-color);
                            border-bottom: 1px solid var(--gray-1);
                            background-color: var(--gray-2);

                            &:hover {
                                padding-right: 30px;
                            }

                            &::selection {
                                display: none;
                            }
                        }
                    }

                    &.active {
                        display: block;
                    }
                }

            }
        }

        .logo {
            img {
                width: 100px;
                object-fit: contain;
            }
        }
    }
}