header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid var(--gray-1);

    .container {
        padding: 20px 10px;
        display: flex;
        justify-content: space-between;

        .menu {

            nav {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                z-index: 9999;
                position: relative;

                .main_nav_icon {
                    color: var(--main-color);
                    font-size: 30px;
                    align-self: flex-start;
                    cursor: pointer;

                    &::selection {
                        display: none;
                    }
                }

                ul {
                    display: none;
                    position: absolute;
                    right: 0;
                    top: 55px;

                    li {
                        a {
                            width: 200px;
                            display: block;
                            padding: 10px 10px;
                            font-weight: 600px;
                            color: var(--nav-link-color);
                            border-bottom: 1px solid var(--gray-1);
                            background-color: var(--gray-2);

                            &:hover {
                                padding-right: 30px;
                            }

                            &::selection {
                                display: none;
                            }
                        }
                    }

                    &.active {
                        display: block;
                    }

                    &::before {
                        content: "";
                        border-style: solid;
                        border-width: 15px;
                        border-color: transparent transparent var(--gray-2) transparent;
                        position: absolute;
                        margin-top: -30px;
                        right: 1;

                    }
                }

            }
        }

        .logo {
            img {
                width: 100px;
                object-fit: contain;
            }
        }

        .social_links {
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                color: var(--main-color);
                padding: 0px 5px;

                i {
                    font-size: 20px;
                }
            }
        }
    }
}